<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests" >
	<test name="Test for Chrome browser">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="CrossBrTests">
<!--				<methods>-->
<!--					<exclude name="loginSecondAfterLogout"/>-->
<!--				</methods>-->
			</class>
		</classes>
	</test>
	<test name="Test for Firefox browser">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="CrossBrTests">
			</class>
		</classes>
	</test>
</suite>